body {
  text-align: center;
  background-color: #4B4453
}

.title {
  margin: auto;
  width: 90%;
  border-radius: 5px;
  background-color: #845EC2;
  text-align: center;
}

.search-text {
  color: white;
}

.dictionary-div .data {
  width: 70%;
  margin: auto;
  margin-top: 10px;
  border: 1px solid black;
  border-radius: 5px;
  background-color: white;
  box-shadow: 2px 2px 2px #555;
}

.thesaurus-div .data {
  width: 70%;
  margin: auto;
  margin-top: 10px;
  border: 1px solid white;
  border-radius: 5px;
  background-color: black;
  color: white;
  box-shadow: 2px 2px 2px #555;
}

.thesaurus-text {
  font-weight: 800;
  color: white;
}

.entry {
  margin-bottom: -33px;
}

.word {
  font-size: 3em;
  font-weight: 200;
  margin-bottom: -8px;
}

.pronunciation {
  
}

.category {
  font-style: italic;
}
